<form method="post" action="/contact/">
    <p>
        <input type="text" name="name" placeholder="Your name">
    </p>
    <p>
        <input type="email" name="email" placeholder="Email">
    </p>
    <p>
        <textarea name="message"></textarea>
    </p>
    <p>
        <select name="topic">
            <option name="general">General questions</option>
            <option name="support">Support</option>
        </select>
    </p>
    <p>
        <button type="submit">
            Send
        </button>
    </p>
</form>